.usersForTable{
    display: flex;
    padding: 2px;
    position: relative;
}

.usersForTable div {
    width: 300px;
    text-align: left;
    padding: 15px;
    background-color: #f1f1f1;
}

.delete{
    position: absolute;
    right: 0;
}